{% macro seriesCard(seriesElmt, isRanked = true) %}
    <div class="col" data-filter-target="card" data-series-target="card" data-title="{% if isRanked %}#{{ seriesElmt.imdbRank }} {% endif %}{{ seriesElmt.title }}"
         {{ stimulus_controller('series', { updateSeriesUrl: path('update_series', { id: seriesElmt.id }) }) }}
         data-is-seen="{{ seriesElmt.isSeen }}" data-is-to-watch="{{ seriesElmt.isToWatch }}">
        <article class="card">
            <div class="row g-0">
                <div class="col-4">
                    {% if seriesElmt.imageUrl %}
                        <img src="{{ seriesElmt.imageUrl }}" class="img-fluid rounded-start" alt="Poster de {{ seriesElmt.title }}"/>
                    {% else %}
                        <div class="fake-img img-fluid rounded-start"></div>
                    {% endif %}
                </div>
                <div class="col-8">
                    <section class="card-body">
                        <h5 class="card-title">
                            {% if isRanked %}<span class="rank">#{{ seriesElmt.imdbRank }}</span> {% endif %}{{ seriesElmt.title }}
                        </h5>

                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="card-subtitle text-muted">{{ seriesElmt.year }}</h6>
                            <h6 class="card-subtitle text-muted">
                                <i class="far fa-star" title="Note moyenne"></i> {{ seriesElmt.imdbRating }}
                            </h6>
                        </div>

                        <button type="button" class="card-link btn btn-sm {% if seriesElmt.isSeen %}btn-success{% else %}btn-outline-secondary{% endif %}"
                                data-action="series#toggleSeen" data-series-target="seen" data-active="{{ seriesElmt.isSeen }}">
                            <i class="far fa-check-circle" title="Ajouter à mes séries vues"></i> Vue
                        </button>
                        <button type="button" class="card-link btn btn-sm  {% if seriesElmt.isToWatch %}btn-warning{% else %}btn-outline-secondary{% endif %}"
                                data-action="series#toggleToWatch" data-series-target="toWatch" data-active="{{ seriesElmt.isToWatch }}">
                            <i class="far fa-eye" title="Ajouter à mes séries à regarder"></i> À voir
                        </button>
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endmacro %}
