{% macro seriesCard(seriesElmt, isRanked = true) %}
    <div class="col" data-filter-target="card" data-is-seen="{% if seriesElmt.isSeen %}1{% endif %}" data-is-to-watch="{% if seriesElmt.isToWatch %}1{% endif %}">
        <article class="card">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{{ seriesElmt.imageUrl }}" class="img-fluid rounded-start" alt="Poster de {{ seriesElmt.title }}"/>
                </div>
                <div class="col-8">
                    <section class="card-body">
                        <h5 class="card-title">
                            {% if isRanked %}<span class="rank">#{{ seriesElmt.imdbRank }}</span> {% endif %}{{ seriesElmt.title }}
                        </h5>

                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="card-subtitle text-muted">{{ seriesElmt.year }}</h6>
                            <h6 class="card-subtitle text-muted">
                                <i class="far fa-star" title="Note moyenne"></i> {{ seriesElmt.imdbRating }}
                            </h6>
                        </div>

                        <a href="#" class="card-link btn btn-sm {% if seriesElmt.isSeen %}btn-success{% else %}btn-outline-secondary{% endif %}">
                            <i class="far fa-check-circle" title="Ajouter à mes séries vues"></i> Vu
                        </a>
                        <a href="#" class="card-link btn btn-sm  {% if seriesElmt.isToWatch %}btn-warning{% else %}btn-outline-secondary{% endif %}">
                            <i class="far fa-eye" title="Ajouter à mes séries à regarder"></i> À voir
                        </a>
                    </section>
                </div>
            </div>
        </article>
    </div>
{% endmacro %}
